* {background-color: black; text-align: center;}
h1 {color: white; text-align: center; font-family: Verdana; font-weight: normal; font-size: 50px; }
h2 {color: white; font-weight: 300; font-family: Verdana; font-size: 42px; }
h3 {font-family: Verdana; color: gray; font-size: 21px;}
.download {color: aquamarine; font-size: 16px; text-align: center;}
.copyright {color: gray; text-align: right;}
